dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: var(--wa-border-radius-m);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--wa-color-overlay-modal);
}
dialog.moved {
    top: 0;
    left: 0;
    transform: none;
}
dialog#details {
    width: 60vw;
    padding: 0;
    header {
        padding: var(--wa-space-xs);
        background-color: var(--wa-color-surface-raised);
        display: flex;
        justify-content: space-between;
        cursor: move;
        h3 {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
    &.is-dragging {
        box-shadow: 0.5rem 0.5rem 0.5rem var(--wa-color-focus);
        border: var(--wa-border-width-m) var(--wa-border-style) var(--wa-color-focus);
    }
    article {
        padding: var(--wa-space-xs);
        overflow-y: show;
    }
}
