html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: var(--wa-color-surface-default);
    color: var(--wa-color-text-normal);
    font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 100svh;
    width: 100svw;
    max-width: 100svw;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
.centered-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer {
    grid-area: footer;
    display: block;
}